.language_circular_progress_container {
  width: 65px;
  display: grid;
  justify-content: center;
}

.language_title {
  text-align: center;
  font-size: small;
  font-weight: 100;
  color: $text_color;
  margin-top: -10px;
  font-family: 'Baloo Tammudu 2', cursive;
}

.language_grid {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.section_primary_title {
  margin-bottom: -10px;
  margin-top: 0px;
  font-size: medium;
  font-weight: bold;
  font-family: 'Baloo Tammudu 2', cursive;
}

$color-black: hsl(0, 0%, 5%);
$color-color: white;

$color-spanish: #ffda54;
$color-english: #ffda54;
$color-python: #ffda54;
$color-js: #ffda54;
$color-ts: #ffda54;
$color-html: #ffda54;
$color-css: #ffda54;
$color-scss: #ffda54;
$color-node: #ffda54;
$color-react: #ffda54;
$color-unity: #ffda54;
$color-postgres: #ffda54;

$porcent-spanish: 30;
$porcent-english: 23;
$porcent-python: 25;
$porcent-scss: 22;
$porcent-js: 23;
$porcent-ts: 55;
$porcent-node: 30;
$porcent-react: 23;
$porcent-unity: 20;
$porcent-postgres: 19;

@function strokeDashoffset($num) {
  @return 440 - calc((440 * $num) / 100);
}

* {
  box-sizing: border-box;
}

.progressbar__svg {
  position: relative;
  width: 100%;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressbar__svg-circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke: #ffda54;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

.shadow {
  &-spanish {
    filter: drop-shadow(0 0 2px $color-spanish);
  }
  &-english {
    filter: drop-shadow(0 0 2px $color-english);
  }
  &-python {
    filter: drop-shadow(0 0 2px $color-python);
  }
  &-scss {
    filter: drop-shadow(0 0 2px $color-scss);
  }
  &-js {
    filter: drop-shadow(0 0 2px $color-js);
  }
  &-ts {
    filter: drop-shadow(0 0 2px $color-ts);
  }
  &-node {
    filter: drop-shadow(0 0 2px $color-node);
  }
  &-react {
    filter: drop-shadow(0 0 2px $color-react);
  }
  &-unity {
    filter: drop-shadow(0 0 2px $color-unity);
  }
  &-postgres {
    filter: drop-shadow(0 0 2px $color-postgres);
  }
}

.progressbar__text:hover {
  filter: drop-shadow(0 0 10px $color-postgres);
}

.circle {
  &-spanish {
    animation: anim_circle-spanish 5s ease-in-out forwards;
  }
  &-english {
    animation: anim_circle-english 5s ease-in-out forwards;
  }
  &-python {
    animation: anim_circle-python 5s ease-in-out forwards;
  }
  &-scss {
    animation: anim_circle-scss 5s ease-in-out forwards;
  }
  &-js {
    animation: anim_circle-js 5s ease-in-out forwards;
  }
  &-ts {
    animation: anim_circle-ts 5s ease-in-out forwards;
  }
  &-node {
    animation: anim_circle-node 5s ease-in-out forwards;
  }
  &-react {
    animation: anim_circle-react 5s ease-in-out forwards;
  }
  &-unity {
    animation: anim_circle-unity 5s ease-in-out forwards;
  }
  &-postgres {
    animation: anim_circle-postgres 5s ease-in-out forwards;
  }
}

.progressbar__text {
  position: absolute;
  padding: 0.25em 0.5em;
  color: #ffda54;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.25em;
  font-size: x-small;
  cursor: pointer;
  transition: 0.5s;
  filter: drop-shadow(0 0 1px #ffda548a);
  //transform: translate(-50%, -50%) ;
}

//  @keyframes

@keyframes anim_circle-spanish {
  to {
    stroke-dashoffset: strokeDashoffset($porcent-spanish);
  }
}

@keyframes anim_circle-english {
  to {
    stroke-dashoffset: strokeDashoffset($porcent-english);
  }
}

@keyframes anim_circle-python {
  to {
    stroke-dashoffset: strokeDashoffset($porcent-python);
  }
}

@keyframes anim_circle-scss {
  to {
    stroke-dashoffset: strokeDashoffset($porcent-scss);
  }
}

@keyframes anim_circle-js {
  to {
    stroke-dashoffset: strokeDashoffset($porcent-js);
  }
}

@keyframes anim_circle-ts {
  to {
    stroke-dashoffset: strokeDashoffset($porcent-ts);
  }
}

@keyframes anim_circle-node {
  to {
    stroke-dashoffset: strokeDashoffset($porcent-node);
  }
}

@keyframes anim_circle-react {
  to {
    stroke-dashoffset: strokeDashoffset($porcent-react);
  }
}

@keyframes anim_circle-unity {
  to {
    stroke-dashoffset: strokeDashoffset($porcent-unity);
  }
}

@keyframes anim_circle-postgres {
  to {
    stroke-dashoffset: strokeDashoffset($porcent-postgres);
  }
}
