.personal_profile {
  min-width: 200px;
  width: 25vw;
  min-height: 130px;
  height: 30vh;
  display: grid;
  background-color: $bg_primary;
  justify-content: center;
  align-items: center;
}

.personal_info {
  min-width: 200px;
  width: 25vw;
  height: 70vh;
  background-color: $bg_secondary;
  justify-content: center;
}

.picture {
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50% 50% 35% 30% / 50% 50% 30% 30%;
}

.juanca_picture {
  height: 101%;
  //width: 100%;
  object-fit: cover;
  //margin-top: -20%;
  margin-top: -1px;
}

.color_circle {
  width: 10px;
  height: 10px;
  background-color: $color-connected;
  margin-left: -10px;
  margin-bottom: 5px;
  border-radius: 5px;
  filter: drop-shadow(0 0 5px $color-connected);
}

.picture_container {
  display: flex;
  min-width: 200px;
  width: 25vw;
  min-height: 70px;
  height: 18vh;
  justify-content: center;
  align-items: flex-end;
}

.text_name {
  min-width: 200px;
  width: 25vw;
  min-height: 30px;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: larger;
  font-weight: bold;
  font-family: 'Baloo Tammudu 2', cursive;
}

.text_profession {
  min-width: 200px;
  width: 25vw;
  min-height: 30px;
  height: 6vh;
  display: flex;
  justify-content: center;
  color: aliceblue;
  font-size: medium;
  font-weight: 100;
  font-family: 'Baloo Tammudu 2', cursive;
}

.social_media {
  min-width: 200px;
  width: 25vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.language_skills {
  min-width: 200px;
  width: 25vw;
  min-height: 100px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coding_knowledge {
  min-width: 200px;
  width: 25vw;
  height: 50vh;
  display: inline;
  justify-content: center;
  align-items: center;
}

.sidebar_icon {
  color: $text_color;
  transition: 0.5s;
}

.sidebar_icon:hover {
  color: $color-stats;
  filter: drop-shadow(0 0 2px $color-stats);
}
