@import '../Gen/mixin', '../Gen/colors.scss';

.dashboard_container {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.title_img {
  width: 71vw;
  opacity: 0.5;
}

.title_container {
  position: relative;
  text-align: center;
  color: white;
}

.title_general_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
