.dashboard_container {
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.title_img {
  width: 71vw;
  height: 40vh;
  opacity: 1;
  border-radius: 1vw;
  object-fit: cover;
  animation: 1s ease-out 0s 1 appear2;
}

.title_container {
  position: relative;
  text-align: center;
}

.title_general_text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vw;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  word-spacing: 10px;
  font-weight: bold;
  color: $text_color;
  font-family: 'Baloo Tammudu 2', cursive;
}

.projects_container {
  margin-top: 2vh;
}

.grid_projects {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: flex-end;
}

.projects_title {
  text-align: center;
  color: $text_color;
  height: 100%;
  width: 100%;
  font-family: 'Baloo Tammudu 2', cursive;
  transition: 0.5s;
}

.project_grid_container {
  border-radius: 1vw;
  cursor: pointer;
  transition: 0.5s;
  animation: 1s ease-out 0s 1 appear2;
}

.project_grid_container:hover {
  filter: drop-shadow(0 0 5px $bg_primary);

  .dashboard_icon {
    color: $color-stats;
    filter: drop-shadow(0 0 2px $color-stats);
  }

  .projects_title {
    color: $color-stats;
    filter: drop-shadow(0 0 2px $color-stats);
  }

  .element_title {
    color: $color-stats;
    filter: drop-shadow(0 0 2px $color-stats);
  }
}

.dashboard_icon {
  color: $text_color;
  transition: 0.5s;
}

.hobbies_container {
  width: 100%;
  margin-top: 2vh;
  border-radius: 1vw;
  background-color: $bg_primary;
  padding: 2vh;
}

@keyframes appear2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
