// File dedicated to the storage of color variables

$bg_primary: #366ed8;
$bg_secondary: #366ed8;
$bg_tertiary: #f2f3f3;

$cmpnt_primary: #16db65;
$cmpnt_secondary: #ff595e;
$cmpnt_tertiary: #fcaf58;

$text_color: #f2f3f3;

$color-stats: #16db65;
$color-connected: #16db65;
