// File dedicated to the storage of color variables

$bg_primary: rgb(51, 53, 80);
$bg_secondary: #292b44;
$bg_tertiary: #202238;

$cmpnt_primary: #16db65;
$cmpnt_secondary: #ff595e;
$cmpnt_tertiary: #fcaf58;

$text_color: aliceblue;
