// File dedicated to the storage of color variables

$bg_primary: #1b1d33;
$bg_secondary: #141626;
$bg_tertiary: #0f101c;

$cmpnt_primary: #16db65;
$cmpnt_secondary: #ff595e;
$cmpnt_tertiary: #fcaf58;
