
// File dedicated to the storage of color variables

$bg_primary: #f4fffd;
$bg_secondary: #465362;
$bg_tertiary: #011936;

$cmpnt_primary: #ffe45e;
$cmpnt_secondary: #ff595e;
$cmpnt_tertiary: #fcaf58;